@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Ubuntu+Mono&display=swap');

/* General */

body {
    background: url(img/videojuegos_clasicosmatrix.png) repeat-y, url(img/videojuegos_clasicosmatrix2.png) repeat-y right black;
}

p {
    color: white;
    font-family: 'PT Mono', monospace;
    text-align: justify;
}

h1 {
    text-align: center;
    letter-spacing: 16px;
    margin-bottom: 0px;
    color: #04c204;
    font-family: 'Ubuntu Mono', monospace;
}

h2 {
    font-family: 'Ubuntu Mono', monospace;
    size: 20px;
    letter-spacing: 10px;
    color: white;
    margin-left: 20px;
    size: 5px;
}

hr {
    margin-bottom: 20px;
    margin-left: 200px;
    margin-bottom: 20px;
    margin-right: 200px;
    color: #04c204;
}

/* Class (.) & Id (#) */
#und2 {
    line-height: 1px;
    margin-right: 637px;
    margin-left: 637px;
    color: #04c204;
    
}

.extPPh1 {
    margin-bottom: 20px;
    margin-left: 200px;
    margin-bottom: 20px;
    margin-right: 200px;
    
}
.bgTitle{
    background-color: #04c204;
    font-family: 'Noto Sans', sans-serif;
    border: white solid 3px;
    line-height: 1px;
    }

.text {
    border: white solid 3px;
    padding: 10px;
}

.yllw {
    color: #ffff00;
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: #03a403;
}

.imgStyle {
    width: 300px;
    height: 225px;
    border: white solid 5px;
    outline: #04c204 solid 5px;
    margin-left: 20px;
}


.imgSpace {
    border: white solid 5px;
    width: 280px;
    height: 350px;
    outline: #04c204 solid 5px;
    margin-top: 6px;
    margin-right: 20px;
    margin-left: 205px;
    float: left;
}

.sInvaders {
    margin-right: 200px;
    margin-left: 520px;
}

.invaders {
    background-color: #04c204;
    font-family: 'PT Mono', sans-serif;
    border: white solid 3px;
    line-height: 1px;
}

.imgPacMan {
    width: 250px;
    height: 300px;
    border: white solid 5px;
    outline: #04c204 solid 5px;
    margin-left: 20px;
}


.pieWeb {
    font-family: 'PT Mono', monospace;
    text-align: justify;
    color: white;
    line-height: 1px;
    margin-left: 200px;
}