@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Montserrat:wght@300&display=swap');

body {
  background-color: #fffdf4;
  font-family: Montserrat;
  margin: 5em;
}

#navegador ul{
	list-style-type: none;
	text-align: center;
 }
 #navegador li{
	display: inline;
	text-align: center;
	margin: 0 10px 0 0;
 }
 #navegador li a {
	padding: 2px 7px 2px 7px;
	color: #666;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	text-decoration: none;
 }
 #navegador li a:hover{
	background-color: #333333;
	color: #ffffff;
 }

h1 {
	font-size: 3.5em;
	font-family: 'Balsamiq Sans';
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
}

.tg td{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Montserrat, sans-serif;
	font-size:14px;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg th{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Montserrat, sans-serif;
	font-size:14px;
	font-weight:normal;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}
.tg .tg-9wq8{
	border-color:inherit;
	text-align:center;
	vertical-align:middle
}

.tg .tg-x2n2{
	background-color:#d99cff;
	border-color:inherit;
	text-align:center;
	vertical-align:middle
}

.tg .tg-j4xs{
	background-color:#cbcefb;
	border-color:inherit;
	text-align:center;
	vertical-align:middle
}
.tg .tg-07c9{
	background-color:#ffffc7;
	border-color:inherit;
	text-align:center;
	vertical-align:middle;
	font-weight: bold;
}

.tg .tg-96ny{
	background-color:#9b9b9b;
	border-color:inherit;
	color:#ffffff;
	text-align:center;
	vertical-align:middle
}

.tg .tg-dehw{
	background-color:#96fffb;
	border-color:inherit;
	text-align:center;
	vertical-align:middle
}

.tg .tg-rhf5{
	background-color:#fd6864;
	border-color:inherit;
	font-size:18px;
	text-align:center;
	vertical-align:middle
}

.tg .tg-43gv{
	background-color:#f299ff;
	border-color:inherit;
	text-align:center;
	vertical-align:middle
}

.tg .tg-n73t{
	background-color:#ffccc9;
	border-color:inherit;
	text-align:center;
	vertical-align:middle
}

.tg .tg-k0xd{
	background-color:#32cb00;
	border-color:inherit;
	font-size:18px;
	text-align:center;
	vertical-align:middle
}

.tg .tg-haji{
	background-color:#9b9b9b;
	border-color:inherit;
	text-align:center;
	vertical-align:middle
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
}

.tg td{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Montserrat, sans-serif;
	font-size:14px;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg th{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Montserrat, sans-serif;
	font-size:14px;
  	font-weight:normal;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg .tg-p170{
	background-color:#efefef;
	border-color:inherit;
	text-align:left;
	vertical-align:middle
}

.tg .tg-p03w{
	background-color:#fffc9e;
	border-color:inherit;
	text-align:center;
	vertical-align:middle;
	font-weight:700px;
}

.tg .tg-elvq{
	background-color:#fffc9e;
	border-color:inherit;
	text-align:left;
	vertical-align:top
}

.tg .tg-0pky{
	border-color:inherit;
	text-align:left;
	vertical-align:top
}