
<head>
    <meta charset="UTF-8">
    <title>While Ex. 1 (JS)</title>
</head>

<body style="font-family: Arial; text-align: center;">
    <h1>Exercicis JavaScript</h1>
    <br>
    <script>
        let numero = Math.floor((Math.random() * 100) + 1);

        let resposta = prompt("Endevina un número entre 1 i 100");
        resposta = parseInt(resposta)

        while (resposta != numero) {
            if (resposta < numero) {
                resposta = prompt("El número és mes gran");
            } else {
                resposta = prompt("El número és més petit");
            }
            resposta = parseInt(resposta);
        }

        alert("Correcte!");
    </script>
</body>

</html>