@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital@1&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

body {
    background-color: #8cae3e;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 5px black;
}

.borde_ext1 {
    border-style: dotted;
    border-width: 2px;
    border-color: white;
    margin-top: 3em;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3em;
    padding: 10px;
}

.f1{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border-style: dotted;
    border-color: red;
    border-width: thick;
    border-radius: 30px;
}

#text1 {
    text-align: left;
    font-size: 40px;
    margin-left: 30px;
    margin-right: 25px;
}

.f2 {
    border-style: solid;
    border-width: 10px;
    border-radius: 8px 0px 0px 8px;
    border-color: white;
    margin-right: 50%;
    background-color: #fae268;
}

#text2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    text-align: justify;
    color: #5c5c5c;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.5em;
}

.f3 {
    margin-top: 30px;
    margin-left: 50%;
    border-style: dashed;
    border-width: 9px;
    border-radius: 0px 8px 8px 0px;
    background-color: white;
}

#text3 {
    text-align: right;
    font-size: 30px;
    margin-right: 40px;

}

.f4 {
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    border-style: dashed;
    border-width: 3px;
    border-color:#285bf7;
    background-color: #1f45a5
}

#text4 {
    color: white;
    font-size: 30px;
    margin-left: 12px;
    margin-right: 12px;
}

.f5 {
    margin-top: 3em;
    border-style: dashed;
    border-color: pink;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

#ext2 {
    border-style: solid;
    border-color: black;
}
#ext3 {
    border-style: solid;
    border-color: pink; 
}
#ext4 {
    border-style: solid;
    border-color: black;
    background-color: pink;
}

#text5 {
    font-size: 25px;
    margin-left: 5px;
}

.f6 {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: dotted;
    border-color: white;
    background-color: #298a00;
    color: white;
    font-size: 33px;
    text-align: center;
    padding: 20px;
}

.f7 {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-radius: 0px 0px 10px 0px;
    border-color: white;
    border-width: 3px;
    padding: 15px;
    background-color: red;
}

#text7 {
    color: white;
    font-size: 35px;
    text-align: center;
    word-spacing: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
}

.f8{
    margin-left: 25%;
    margin-right: 25%;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 0px 0px 10px 0px;
}

#text8 {
    text-align: right;
    margin-right: 20px;
    font-size: 30px;
}