@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Thasadith&display=swap');

h1{
	font-family: 'Aleo', serif;
	font-size: 4em
}
body {
	background-color: #D3DEDA;
	font-family: 'Thasadith', sans-serif;

}

fieldset {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 10px;
    -webkit-border-radius: 10px;
    border-radius: 7px;
}

form {
	margin-left: 3em;
}
