@import url('https://fonts.googleapis.com/css?family=Arvo|Roboto');
/* Estructura general */

body {
	margin: 0;
	padding: 0;
	color: #666;
    font-family: Roboto;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
    text-align: justify;
}

#main-header {
	background: rgb(46, 45, 45);
	color: white;
	height: 80px;
}	
#main-header a {
		color: white;
	}

h1 {
    font-family: Arvo;
    font-size: 3.7em;
    line-height: 1.3em;
    text-align: center;
    font-weight: bold;
}
p {
		margin-left: 20em;
		margin-right: 20em;
		line-height: 1.7em;
    }
    
img {
    max-width: 100%;
    height: auto;
}

.img_align {
	text-align: center;
}


#subtitulo {
		text-align: center;
		padding: auto;
	}

h2 {
	margin-left: 12em;
}
h3 {
	margin-left: 16.2em;
}
.pie_foto {
	text-align: center;
	height: 1em;
	color: grey;
}

.listas {
		margin-left: 19em;
		margin-right: 19em;
		line-height: 1.5em;
		text-align: justify;
}

/* Barra superior */

#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
    #logo-header:hover {
        color: #ffffff
    }
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }
    #logo-header .site-desc {
        display: block;
        font-weight: 0.8 em;
        color: #999;
    }

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: rgb(46, 45, 45);
				}

/* Pie de pàgina */
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}

