@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'Ubuntu', sans-serif; */

body {
    background-color: #fffef9;
    text-align: justify;
}

h2 {
    font-family: 'Bebas Neue';
    font-size: 3em;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

.div1 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.t1 {
    text-align: center;
    width: 125px;
    border: 1px;
}

.p1 {
    margin-top: inherit;
    margin-bottom: inherit;
    margin-left: inherit;
    margin-right: inherit;
}
.p2 {
    margin-left: 20%;
    margin-right: 20%;
}

.div2 {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.t2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 30px;
}

.p3 {
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
}

.p4 {
    padding-left: 10%;
}

.div3 {
    width: 400px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 30px;
}