@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Zen+Old+Mincho:wght@900&display=swap');

body {
    background-color: #ffff00;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    text-align: justify;
    background-image: url("img/Degradat.png");
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    position: fixed;
    right: 150px;  
    width: 200px;
    height: auto;
}

.t1 {
    font-family: 'Zen Old Mincho';
    font-size: 3em;
    background-color: lightblue;
    border: 6px;
}
.t2 {
    font-family: 'Zen Old Mincho';
    font-size: 3em;
    background-color: lightblue;
    border: 12px
}

p {
    font-family: Roboto;
    font-size: 1.5em;
}

.p1 {
    background-color: rgb(78, 0, 180);
    color: white;
    border: 4px solid;
    border-style: dotted
}

.p2 {
    background-color: #FAB6DD;
    color: black;
    border: 8px solid;
    border-style: dotted
}

.p3 {
    color: black;
    border-bottom: 8px orange;
    border: 8px;
}

.p4 {
    color: black;
    border-bottom: 8px orange;
}