body {
    background-color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12%;
    margin-right: 12%;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

fieldset {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 35px;
}

.titlesLegend {
    font-size: 24px;
    font-weight: bold;
}

